@use "./styles/variables" as *;
@use "./styles/mixins" as *;

body {  
  font-family: "Parkinsans", sans-serif;
  color: $spongebob-tooth-grey;
  @include gradient(top, background-gradient-list);
  line-height: 1.5;
  font-weight: 400;

  min-width: 320px;
  min-height: 100vh;
}