// Colour Palette
$gradient-blue-0: #0082e0;
$gradient-blue-1: #02d1f0;
$gradient-blue-2: #3cf0e0;
$gradient-blue-3: #63f4e0;

$patrick-pink: #fed0d0;
$patrick-pink-accent:#c26760;
$patrick-green: #b2d910;
$patrick-purple: #ab8dc0;

$spongebob-yellow: #fdf460;
$spongebob-yellow-accent: #b0ab20;
$spongebob-tooth-grey: #eae8e0;