// Colour Palette
$gradient-blue-0: #0082e0;
$gradient-blue-1: #02d1f0;
$gradient-blue-2: #3cf0e0;
$gradient-blue-3: #63f4e0;

$patrick-pink: #fed0d0;
$patrick-pink-accent: #c26760;
$patrick-green: #b2d910;
$patrick-purple: #ab8dc0;

$spongebob-yellow: #fdf460;
$spongebob-yellow-accent: #b0ab20;
$spongebob-tooth-grey: #eae8e0;

// Gradient List
$background-gradient-list: $gradient-blue-3 1%, $gradient-blue-2 3%, $gradient-blue-1 5%, $gradient-blue-0 15%, black 100%;

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $background-gradient-list);
  background: -moz-linear-gradient($direction, $background-gradient-list);
  background: -o-linear-gradient($direction, $background-gradient-list);
  background: linear-gradient($direction, $background-gradient-list);
}

// Font families

// Heading Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Parkinsans:wght@300..800&display=swap');

// Body Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&display=swap');